
body {
	background-image: url(background.jpg);
	background-size: cover;
}

h2 {
	color: #FE4580;
	text-align: center;
	border: 5px solid rgb(255, 114, 159);
	cursor: pointer;
}

p {
	color: pink;
}

li {
	list-style: none;
	display: inline-block;
}