body {
  background: linear-gradient(to right, rgb(7, 15, 13), rgb(60, 117, 115));
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
}

a {
  text-decoration: none;
}


